{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale | default('fr') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="language" content="{{ app.request.locale | default('fr') }}">
    <meta name="author" content="devscast.tech, contact@devscast.tech">
    <meta name="robots" content="index">
    <meta name="robots" content="follow">
    <link rel="icon" type="image/png" href="{{ asset('/images/indabax.png') }}" />
    <meta name="description" content="Un Deep Learning Indaba𝕏 est un Indaba ou une conférence organisée localement qui permet de s'assurer que les connaissances et les capacités en matière d'apprentissage automatique sont plus largement diffusées sur le continent africain."/>
    <meta name="keywords" content="Congo, DRC, RDC, Deep Learning, Indabax, apprentissage automatique">
    <meta property="og:title" content="Indabax DRC | Indabax-drc.com">
    <meta property="og:image" content="{{ asset('/images/indabax.png') }}">
    <meta property="og:description" content="Un Deep Learning Indaba𝕏 est un Indaba ou une conférence organisée localement qui permet de s'assurer que les connaissances et les capacités en matière d'apprentissage automatique sont plus largement diffusées sur le continent africain. ">
    <meta name="apple-mobile-web-app-title" content="Indabax DRC | Indabax-drc.com">
    <meta name="twitter:title" content="Indabax DRC | Indabax-drc.com">

    <title>Indabax DRC | Indabax-drc.com</title>

    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&amp;family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('frontend') }}
    {{ encore_entry_script_tags('frontend') }}
</head>
<body class="bg-black text-white">
{% if event %}
    {% include 'frontend/component/_header.html.twig' %}
    <section class="relative pt-28 overflow-hidden bg-black before:absolute before:inset-0 before:z-[8] before:h-2/3 before:mt-auto before:bg-gradient-to-t before:from-black">
        <img class="absolute inset-0 w-full object-cover object-bottom blur-lg h-full" src="{{ asset('images/cover.webp') }}" alt="">
        <div class="h-full relative z-[8]">
            <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-6">
                <div class="pt-40 lg:pt-28">
                    <h1 class="text-5xl font-bold text-center font-['AbrilFatface'] text-white sm:text-6xl lg:text-7xl">Deep Learning<br> Indaba𝕏 DR Congo</h1>
                </div>
                <div class="mt-12">
                    <div class="flex justify-center items-center gap-4 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>
                        <span class="text-xl">{{ event.eventStartsAt | date('M d Y')}} - {{ event.eventEndsAt | date('M d Y') }}</span>
                    </div>

                    <div class="mt-4 flex justify-center items-center gap-4 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                        </svg>
                        <span class="text-xl">{{ event.location }}</span>
                    </div>

                    <div class="mt-12 flex flex-wrap justify-center gap-6">
                        <a href="{{ event.googleFormLInk | default('#') }}" rel="noopener" target="_blank" class="relative h-16 px-8 group flex sm:h-20 w-full items-center justify-center sm:px-12 bg-white overflow-hidden before:absolute before:inset-0 before:scale-x-0 before:origin-right before:bg-primary before:hover:origin-left before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                            <span class="relative text-2xl font-semibold text-dark group-hover:text-white">S'enregistrer</span>
                        </a>
                        <a href="#about" class="relative h-16 px-8 group flex sm:h-20 w-full items-center justify-center sm:px-12 border-2 border-gray-400 overflow-hidden before:absolute before:inset-0 before:scale-x-0 before:origin-right before:bg-white before:hover:origin-left before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                            <span class="relative text-2xl font-semibold text-white group-hover:text-dark">En savoir plus</span>
                        </a>
                    </div>
                </div>

                <div id="sponsors" class="mt-16">
                    <h2 class="text-xl text-center text-gray-300">
                        Nos sponsors
                    </h2>
                    <div class="m-auto mt-12 xl:px-12">
                        <div class="grid grid-cols-4 flex-wrap justify-center items-center gap-6">
                            {% for s in sponsors %}
                                <img src="{{ vich_uploader_asset(s, 'image_file') }}" title="{{ s.name }}" class="contrast-100 h-12 w-auto mx-auto" loading="lazy" alt="logo {{ s.name }}"/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-28 z-10">
        <div class="relative max-w-7xl mx-auto px-8 md:px-12 lg:px-6">
            <div class="mb-16 mx-auto lg:w-3/5">
                <h2 id="about" class="mb-8 text-4xl font-bold text-white md:text-4xl lg:text-6xl">
                    Conférence sur le Machine Learning et l'IA
                </h2>
                <p class="text-gray-300 text-lg">
                    IndabaX DR Congo s’inscrit dans la ligne de conférences internationales nommées IndabaX et
                    qui se déroulent chaque année dans différents pays d’Afrique. L’objectif est de rassembler la
                    communauté congolaise des praticiens, chercheurs, étudiants, professionnels et passionnés du
                    domaine de l’apprentissage automaque (Machine Learning), de l’apprentissage profond (Deep
                    Learning) et de la Data Science pendant trois jours d’enseignement, de sessions pratiques,
                    d’échange et de débat sur l'évoluons de l’apprentissage automaque et de l'Intelligence
                    Artificielle (IA) afin de diffuser les connaissances et de renforcer les capacités en apprentissage
                    automaque en RDC et en Afrique.
                </p>
                <p class="text-gray-300 text-lg mt-4">
                    Cette conférence permet de créer un écosystème entre les différents acteurs (privé, public,
                    écoles et universités) afin d’utiliser l’intelligence artificielle (IA) comme un levier dans le
                    développement et la croissance de notre pays la RDC.
                </p>
                <p class="text-gray-300 text-lg mt-4">
                    Cee année, beaucoup de pays Africains dont la RDC organisent cet événement. Le thème
                    retenu pour cette édition qui se tient en hybride à l’Université Mapon, du 17 au 19 novembre
                    2022, est <span class="text-primary">“Révolution industrielle par l'intelligence artificielle”</span>
                </p>
            </div>
            <div class="lg:w-2/3 mx-auto">
                <div class="relative md:text-lg py-16 grid sm:grid-cols-2 gap-24 before:absolute before:inset-0 before:w-0 sm:before:w-0.5 before:h-full before:m-auto before:bg-gray-800">
                    <div class="sm:col-start-2">
                        <h3 class="text-3xl">Recherche</h3>
                        <p class="mt-4 text-gray-300">Échanger les connaissances scientifiques en IA entre chercheurs et toutes les parties prenantes</p>
                    </div>
                    <div class="sm:col-start-1 sm:text-right">
                        <h3 class="text-3xl">Applications de l'IA</h3>
                        <p class="mt-4 text-gray-300">Présenter les applications de l’IA dans différents domaines dans lesquels exercent nos partenaires.</p>
                    </div>
                    <div class="sm:col-start-2 row-start-3">
                        <h3 class="text-3xl">Communauté</h3>
                        <p class="mt-4 text-gray-300">
                            Connecter avec d’autres chercheurs et praticiens. Élargir notre communauté,
                            donner une plate-forme pour présenter et partager nos recherches ainsi que nos intérêts dans l’IA.
                        </p>
                    </div>
                    <div class="sm:col-start-1 row-start-4 sm:text-right">
                        <h3 class="text-3xl">Tutoriels</h3>
                        <p class="mt-4 text-gray-300">Fournir une introduction pratique à l’apprentissage automatique pour les débutants.</p>
                    </div>
                    <div class="sm:col-start-2 row-start-5">
                        <h3 class="text-3xl">Hackathon</h3>
                        <p class="mt-4 text-gray-300">Proposer des solutions au problème posé en utilisant les données fournies.</p>
                    </div>
                    <div class="sm:col-start-1 row-start-6 sm:text-right">
                        <h3 class="text-3xl">Session D’affiches (Posters)</h3>
                        <p class="mt-4 text-gray-300">Présenter votre travail et obtenir les commentaires des experts.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="orateurs" class="pt-28 relative z-10">
        <div class="relative">
            <div aria-hidden="true" class="absolute top-56 inset-x-32 inset-0 grid grid-cols-2 opacity-60">
                <div class="blur-[106px] h-72 bg-gradient-to-br from-primary to-purple-400"></div>
                <div class="blur-[106px] h-56 bg-gradient-to-r from-indigo-400 to-blue-700"></div>
            </div>
            <div class="relative max-w-6xl mx-auto px-8 md:px-12 lg:px-6">
                <div class="mb-16 mx-auto text-center md:w-2/3 lg:w-1/2">
                    <h2 class="mb-8 text-4xl font-bold text-white md:text-4xl lg:text-6xl">
                        Les orateurs
                    </h2>

                    {% if not speakers %}
                        <p class="text-gray-300 text-lg">Les orateurs seront annoncés ultérieurement</p>
                    {% endif %}
                </div>
                {% if speakers %}
                    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
                        {% for s in speakers %}
                            {% include 'frontend/component/_speaker_card.html.twig' with {user: s} %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="pt-28 relative z-10">
        <div class="container m-auto px-6 py-20 md:px-12 lg:px-20">
            <div class="m-auto text-center lg:w-7/12">
                <h2 class="mb-8 text-4xl font-bold text-white md:text-4xl lg:text-6xl">Tout le monde est invité</h2>
                <p class="text-gray-300 text-lg">
                    L'objectif de la conférence est de fournir une introduction pratique à l'apprentissage automatique pour les débutants,
                    d'échanger des connaissances scientifiques entre chercheurs et de présenter des applications de pointe de partenaires industriels.
                </p>
            </div>
            <div class="mt-12 grid items-center gap-8 md:grid-cols-2 lg:grid-cols-3">
                <div class="relative bg-neutral-900">
                    <div class="relative p-8">
                        <img class="w-20 mx-auto" src="https://indabax.co.za/images/icons/icon-1.png" alt="">
                        <div class="mt-12 space-y-6 mb-20">
                            <h3 class="text-2xl text-white font-semibold text-center">Étudiants</h3>
                            <div class="relative flex justify-around">
                                <div class="flex">
                                    <span class="-ml-2 mt-1 text-xl text-secondary font-bold">$</span>
                                    <span class="text-6xl text-white font-bold leading-0">{{ pricing.student }}</span>
                                </div>
                            </div>
                            {#<ul role="list" class="w-max hidden space-y-4 pb-6 m-auto text-gray-300">
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>First premium advantage</span>
                                </li>
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>Second premium advantage</span>
                                </li>
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>Third advantage</span>
                                </li>
                            </ul>#}
                        </div>
                        <a href="{{ event.googleFormLink }}" class="relative group flex h-12 w-full items-center justify-center px-6 overflow-hidden border border-gray-500 hover:border-transparent before:absolute before:inset-0 before:scale-x-0 before:origin-right before:bg-primary before:hover:origin-left before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-base font-semibold text-white delay-100">S'enregistrer</span>
                        </a>
                    </div>
                </div>
                <div class="relative bg-neutral-800 scale-105">
                    <div class="relative p-8">
                        <img class="w-16 mx-auto" src="https://indabax.co.za/images/icons/icon-3.png" alt="">
                        <div class="mt-12 space-y-6 mb-20">
                            <h3 class="text-2xl text-white font-semibold text-center">Académiques</h3>
                            <div class="relative flex justify-around">
                                <div class="flex">
                                    <span class="-ml-2 mt-1 text-xl text-secondary font-bold">$</span>
                                    <span class="text-6xl text-white font-bold leading-0">{{ pricing.academic }}</span>
                                </div>
                            </div>
                            <ul role="list" class="w-max hidden space-y-4 pb-6 m-auto text-gray-300">
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>First premium advantage</span>
                                </li>
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>Second premium advantage</span>
                                </li>
                                <li class="space-x-2">
                                    <span class="text-cyan-500 font-semibold">&check;</span>
                                    <span>Third advantage</span>
                                </li>
                            </ul>
                        </div>
                        <a href="{{ event.googleFormLink }}" class="relative group flex h-12 w-full items-center justify-center px-6 bg-white overflow-hidden before:absolute before:inset-0 before:scale-x-0 before:origin-right before:bg-primary before:hover:origin-left before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-base font-semibold text-dark group-hover:text-white delay-100">S'enregistrer</span>
                        </a>
                    </div>
                </div>
                <div class="relative bg-neutral-900">
                    <div class="relative p-8">
                        <img class="w-20 mx-auto" src="https://indabax.co.za/images/icons/icon-2.png" alt="">
                        <div class="mt-12 space-y-6 mb-20">
                            <h3 class="text-2xl text-white font-semibold text-center">Professionnels</h3>
                            <div class="relative flex justify-around">
                                <div class="flex">
                                    <span class="-ml-2 mt-1 text-xl text-secondary font-bold">$</span>
                                    <span class="text-6xl text-white font-bold leading-0">{{ pricing.professional }}</span>
                                </div>
                            </div>
                        </div>
                        <a href="{{ event.googleFormLink }}" class="relative group flex h-12 w-full items-center justify-center px-6 bg-white overflow-hidden before:absolute before:inset-0 before:scale-x-0 before:origin-right before:bg-primary before:hover:origin-left before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-base font-semibold text-dark group-hover:text-white delay-100">s'enregistrer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="organisateurs" class="my-48 relative z-10">
        <div class="relative">
            <div class="m-auto text-center lg:w-7/12">
                <h2 class="mb-16 text-4xl font-bold text-white md:text-4xl lg:text-6xl">
                    Commité d'organisation
                </h2>
            </div>
            <div class="relative max-w-6xl mx-auto px-10 md:px-12 lg:px-12">
                <div class="grid gap-10 md:grid-cols-6 sm:grid-cols-2 lg:grid-cols-6">
                    {% for organizer in organizers %}
                        <div class="space-y-4 text-center">
                            <img class="w-32 h-32 mx-auto object-cover rounded-full md:w-20 md:h-20 lg:w-32 lg:h-32" src="{{ vich_uploader_asset(organizer, 'image_file') }}" alt="woman" loading="lazy" width="640" height="805">
                            <div>
                                <h4 class="text-xl">{{ organizer.name }}</h4>
                                <span class="block text-sm text-gray-400">{{ organizer.role }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'frontend/component/_footer.html.twig' %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Website",
            "url": "https://indabax-drc.com"
        }
    </script>
{% endif %}
</body>
</html>
{% endapply %}
