{% extends 'backend/shared/layout/base.html.twig' %}
{% block title 'Organisateurs' %}

{% block header %}
    {% embed 'backend/shared/component/_header.html.twig' %}
        {% block header_title 'organisateurs' %}
        {% block header_action_list %}
            <li class="btn-group">
                <a href="{{ path('admin_organizer_new') }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'plus' | icon }}
                    <span>Ajouter un organisateur</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% if data | length > 0 %}
        <div class="row g-gs">
            {% for user in data %}
                <div class="col-sm-6 col-lg-4 col-xxl-3">
                    <div class="card shadow-sm">
                        <div class="card-inner">
                            <div class="team">
                                <div class="user-card user-card-s2">
                                    <div class="user-avatar lg bg-primary">
                                        {% if user.image %}
                                            <img src="{{ vich_uploader_asset(user, 'image_file') }}" alt="avatar du contact">
                                        {% else %}
                                            <span>{{ user.name | first }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="user-info">
                                        <h6>{{ user.name }}</h6>
                                        {% if user.role is defined %}
                                            <span class="sub-text">{{ user.role }}</span>
                                        {% endif %}
                                        {% if user.jobTitle is defined %}
                                            <span class="sub-text">{{ user.jobTitle }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="team-view">
                                    <a href="{{ path('admin_organizer_show', {id: user.id}) }}" class="btn btn-block btn-dim btn-primary">
                                        <span>Voir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="mt-5 d-flex justify-content-center">
            {% if data is defined %}
                {{ knp_pagination_render(data) }}
            {% endif %}
        </div>
    {% else %}
        <div class="card card-stretch">
            <div class="card-body">
                <div class="d-flex justify-content-center align-center">
                    <div class="nk-block-content nk-error-ld text-center">
                        <img src="{{ asset('images/contact.svg') }}" alt="aucune données" width="200">
                        <p class="nk-error-description">Vous n'avez aucun organisateur</p>
                        <a href="{{ path('admin_organizer_new') }}" class="btn btn-primary">
                            Ajouter un organisateur
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
